body, html {
    background-color: rgb(20, 20, 20);
    font-family: Consolas;
    font-size: 14pt;
    overflow-x: hidden;
}

@font-face {
  font-family: Consolas;
  src: url(Assets/CONSOLA.TTF);
}

::-webkit-scrollbar {
    width: 0px;
}
 
::-webkit-scrollbar-track {
  background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
  outline: none
}

.box {
  position: absolute;
  border: 3px solid #292929;
  height: 96.7%;
  width: 98.3%;
  border-radius: 10px;
  background: transparent;
  padding: 5px;

}

#textarea {
  position: relative;
  resize: none;
  width: 50%;
  min-height: 0px;
  overflow-y: auto;
  background-color: transparent;
  color: #ffd097;
  text-shadow: #ffd45d 0px 0px 20px;
  white-space: pre-wrap;
}

.inputfield {
  display: inline-flex;
  height: 30px;
  align-items: center;
  width: 50%;
  margin-top: 10px;
  margin-left: 2px;
}

#input {
  width: 90%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 14pt;
  font-family: Consolas;
  color: #ff9898;
  text-shadow: #ff6a6a 0px 0px 20px;
}

#path {
  color: #9bf6ff;
  text-shadow: #66dbff 0px 0px 20px;
}

.span {
  font-family: "Lucida Console";
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
  color: #caffbf;
  font-weight: bold;
  text-shadow: rgba(0,255,111,0.9) 0px 0px 20px;
}

.noise {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  inset: -200;
  background-image: url('Assets/noisy-texture-100x100-o100-d20-c-000000-t0.png');
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 10%;
  animation: shift 0.2s linear infinite both;
  pointer-events: none;
  white-space: nowrap;
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

a {
  text-decoration: none;
  color: #9bf6ff;
  text-shadow: #66dbff 0px 0px 20px;
}

a:hover {
  background-color: #9bf6ff;
  color: #292929;
}